# {{ ansible_managed }}

# The user that gets all the mails (UID < 1000, usually the admin)
# root=username@gmail.com
root={{ fm_ssmtp_postmaster_address }}

# The mail server (where the mail is sent to), both port 465 or 587 should be acceptable
# See also https://support.google.com/mail/answer/78799
# mailhub=smtp.gmail.com:587
mailhub={{ fm_ssmtp_mailhub }}

# The address where the mail appears to come from for user authentication.
# rewriteDomain=gmail.com
rewriteDomain={{ fm_ssmtp_rewritedomain }}

# The full hostname.  Must be correctly formed, fully qualified domain name or GMail will reject connection.
# hostname=yourlocalhost.yourlocaldomain.tld
hostname={{ rc_conf_hostname }}

# Use SSL/TLS before starting negotiation
#UseTLS=Yes
#UseSTARTTLS=Yes
UseTLS={{ fm_ssmtp_usetls }}
UseSTARTTLS={{ fm_ssmtp_usestarttls }}

# Username/Password
#AuthUser=username
#AuthPass=password
#AuthMethod=LOGIN
AuthUser={{ fm_ssmtp_authuser }}
AuthPass={{ fm_ssmtp_authpass }}
AuthMethod={{ fm_ssmtp_authmethod }}

# Email 'From header's can override the default domain?
#FromLineOverride=yes
FromLineOverride={{ fm_ssmtp_fromlineoverride }}

# EOF
